@import'../../styles/settings.postcss';

#donors-modal {
	.text-module-title {
		margin: 0 0 rem(15) 0;

		@media screen and (min-width: $screen-m) {
			margin: 0 0 rem(10) 0;
		}
	}

	.text-legend-s {
		margin-bottom: rem(61);

	}

  .donors-list {
    list-style: none;

    @media screen and (min-width: $screen-m) {
      li {
        width: 50%;
        float: left;
      }
    }

  }
}
