.btn {
 	padding: rem(5) rem(10);
	&.-primary {
		font-size: 11px;
		background-color: $font-color-4;
		color: $font-color-3;
	}
	&.-secondary {
		font-size: 11px;
		background-color: $font-color-3;
		color: $font-color-4;
	}
}


