.btn {
 	padding: rem(5) rem(10);
  
	&.btn-primary {
		background-color: $font-color-4;
		color: $font-color-3;
		@media screen and (min-width: $screen-xs) {
		  font-size: rem(11);
		}
		@media screen and (min-width: $screen-xl) {
		  font-size: rem(12);
		}
	}
	&.btn-secondary {
		background-color: $font-color-3;
		color: $font-color-4;
		@media screen and (min-width: $screen-xs) {
		  font-size: rem(11);
		}
		@media screen and (min-width: $screen-xl) {
		  font-size: rem(12);
		}
	}
}


