.icon-logo {
  width: rem(110);
  height: rem(40);

  @media screen and (min-width: $screen-m) {
    width: rem(150);
    height: rem(55);
  }
}

.icon-menu {
	width: rem(22);
	height: rem(18);
	fill: #686354;
}