
.select2-dropdown {
	font-family: $font-family-1;
	background-color: $orange-tangerine;
	color: $white;
	top: rem(5);
	border-radius: 0;
	border: 0;
	box-shadow: 0 0 rem(2) grey;
}

.select2-dropdown:before {
	content: ' ';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: rem(-5);
    border-width: rem(8);
    border-style: solid;
    border-color: transparent transparent $orange-tangerine transparent;
	
}