@import'../../styles/settings.postcss';
@import'../../styles/helpers.postcss';

.m-main-menu {
  pointer-events: auto; 

   .btn-menu-toggle {
    width: rem(30);
    height: rem(30);

    @media screen and (min-width: $screen-m) {
      display: none;
    }
  }

  .menu {
    display: none;
    list-style: none;

    @media screen and (min-width: $screen-m) {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
