@import'../../styles/settings.postcss';

.m-dashboard-panel {
  padding: 0 $wrap-padding-mobile;

  @media screen and (min-width: $screen-m) {
    padding: 0 rem(30);
  }

  @media screen and (min-width: $screen-xxl) {
    padding: 0 rem(40);
  }
}
