.m-legend {

  padding: 0 rem(25);

  ul {
    list-style: none;
  }

  .legend-item {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: rem(1);
  }

  .bucket {
    display: inline-block;
    width: rem(20);
    height: rem(20);
    background-color: #ddd;
    margin-right: rem(15);

  }

}
