@import'./styles/settings.postcss';
@import'./styles/helpers.postcss';
@import'./styles/base.postcss';
@import'./styles/layout.postcss';
@import'./styles/states.postcss';
@import'./styles/icons.postcss';
@import'./styles/buttons.postcss';

body {
  background-color: red;
}
