@import'./styles/settings.postcss';
@import'./styles/helpers.postcss';
@import'./styles/base.postcss';
@import'./styles/layout.postcss';
@import'./styles/states.postcss';

/* Base styles */
/* body {
  line-height: 1.5;
  color: #333;

  background: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
