
.m-anniversary-modal {
	> .content {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		max-width: none;
		max-height: none;
		padding: 0;
	} 
}